body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-weight: bold;
  color: red;
}
.menu {
  display: flex;
  gap: 10px;
}

.products_div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  place-items: center;
  place-content: center;
}
.product {
  border: 1px solid black;
}
.product img {
  height: 18rem;
  width: 18rem;
  margin: 0 auto;
  display: block;
}
.product_details h5 {
  color: black;
}
.btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.btns button {
  padding: 8px 15px;
}
